## editors
/.idea
/.vscode

## system files
.DS_Store

## Build files
target/
node_modules/
dist/
.cargo/
*/*.tsbuildinfo
electron/out-tsc/*
electron/out-builder/**/*
electron/web/*.js

## DNA files
dna/workdir/*.dna
dna/workdir/*.happ
dna/workdir/*.txt
hash_zome*
*.zip
*.webhapp
*.happ
*.map

## Testing files
.hc*
.running


## Specific files
electron/web/index.html
Cargo.lock
package-lock.json
