## editors
/.idea
/.vscode

## system files
.DS_Store

target/
node_modules/
dist/
.cargo/
.hc*
dna/workdir/dna*/*.dna
dna/workdir/happ*/*.happ
workdir/*.webhapp
workdir/*.dna
workdir/*.happ
workdir/*.zip
*.tsbuildinfo
.running
hash_zome*
